*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}
section{
    /*   height: 100vh; */ display: flex; justify-content:space-around;   align-items: center;
    margin-top: 10px;
}

.contain{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 95%;
    height: 500px;
    margin-top: 50px;
}
.tab{
    width: 50%;
    border: black 2px solid;
    height: 550px;
    display: flex;
    flex-direction:column;
    justify-content:space-around; 
    align-items: center;
}

.important{
    width: 60%; height: 60px; background-color: #950740; border: black 1px solid;
    display: flex; justify-content:space-around;   align-items: center;
}
.points{
    display: flex; justify-content:space-around;   align-items: center;
    width: 75%; height: 400px; 
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(b1.jpg);
    margin-top: 0px;
    border-radius: 1.5%;
}
