*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

section{
    /*   height: 100vh; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}


/* section a starts */
.seca .box{
    height: 460px;
    border:grey 1px solid;
    width: 80%;
    border-top: #C70039 solid 2px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.seca .box .contain{
    height: 400px;
    width: 76%;
}
.seca .box .contain .div1{
  width: 100%;
  height: 10%;  
  display: flex;
  margin-top: 20px;
    justify-content:space-around;
    align-items: center;
}

.seca .box .contain .div1 .left{
    width: 85%;
    height: 100%;
    background-color:#df1616 ;
    padding: 10px;
}

.seca .box .contain .div1 .left span{
    color: white;
     font-weight: bold;
     font-size: 20px;
}
.seca .box .contain .div1 .right{
    width: 15%;
    height: 100%;
    background-color: darkgray;
}
.seca .box .contain .div2{
    margin-top: 15px;
    background-color: rgb(219, 241, 241);
    height: 43%;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
    line-height: 1.5;
}

.seca .box .contain .div2 #lbl{
    font-size: 30px;
    color: #df1616;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seca .box .contain .div2 p{
    font-weight: bold;
}

.learn_btn{
    background-color: #1b9bff;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    width: 20%;
    margin-top: 10px;
}


.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }


  .box .contain .div3{
    width: 85%;
    height: 12%;  
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 28px;
    margin-left: 50px;
  }
  
  .box .contain .div3 .left{
      width: 85%;
      height: 100%;
      border: grey 1px solid;
      padding: 10px;
  }
  
  .box .contain .div3 .left span{
      color:indigo;
       font-weight: bold;
       font-size: 20px;
  }
  .box .contain .div3 .right{
      width: 18%;
      height: 100%;
      border: 1px solid black;
  }
/* section a ends  */


